<h1>All articles:</h1>
<% @articles.each do |article| %>
  <% if article.published_at.present? %>
    <div class="row">
      <div class="span4">
        <div>
          <%= link_to article.title, article_path(article), class: "title" %>
          <%= link_to "Edit", edit_admin_article_path(article) %>
          <%= link_to "Delete", admin_article_path(article), method: :delete %> 
        </div>
        <div>
          <%= article.text.truncate(60) %>
        </div>
      </div>
      <div class="span2">
        <div style="display:inline-block;width:35%;font-size:10px;vertical-align:top">
          <%= article.published_at.strftime("%d-%m-%Y") %>
        </div>
      </div>
   </div>
  <% end %>
<% end %>
<%= will_paginate @articles %>
<!--
<%= link_to "Add articles", new_admin_article_path %><br>
<%= link_to "Add categories", new_admin_category_path %> -->
