<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<% if @article.published_at.present? %>
<p>
  <strong>Date:</strong>
  <%= @article.published_at.strftime("%d-%m-%Y") %>
</p>
<% end %>

<p>
  <strong>Category:</strong>
  <%= @article.categories.map(&:title).join(', ') %>
</p>

<%= link_to "Return", articles_path %>